:host{
    border: 2px solid #2e2b2b;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
    margin: 15px 0;
    display: flex;
    flex-wrap: wrap;
}

nav a {
    color: #2e2b2b;
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
    margin: 0 15px 0;
    border-radius: 35px;
}

nav a.active{
    font-weight: 700;
    background: #d1cece;
}